.pokemons {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  cursor: pointer;
  li {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    &:hover {
      border: 1px solid gray;
      background-color: lightgray;
    }
    h3 {
      text-align: center;
      text-transform: capitalize;
    }
  }
}

.page-btn {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 20px;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.2em;
  transition-property: background-color, color;
  transition-duration: 200ms;
}

.page-btn:hover {
  color: white;
  background-color: black;
}
